/venv/
.idea
/bonus1.py
/bonus13.py
/bonus15.py
/bugfixes.py
/bugfixes_day15.py
/codingexercise.py
/codingexercise_day15.py
/codingexercises_day3.py
/codingexercises_day4.py
/codingexercises_day5.py
/heads_or_tails.py
/journal.py
/parsers.py
/passwordchecker.py
/textfilereader.py
/journal/6-2-2023.txt
/journal/6-3-2023.txt
/files/a.txt
/files/b.txt
/files/c.txt
/files/doc.txt
/files/headsortails.txt
/files/members.txt
/files/presentation.txt
/files/questions.json
/files/report.txt
/files/temperatures.txt
/filezipper.py
/codingexercise_day16.py
